.TabView {
    width: 100%;
  }
  
  .TabView .title {
    font-weight: bold;
    padding: 0.5em;
  }
  
  /* .TabView .body {
    background-color: #58a5f0;
    color: ; 
  } */
  
  .TabView .tabs {
    display: flex;
    overflow-x: scroll;
    /* margin-bottom: 10px; */
  }
  .TabView .tabs::-webkit-scrollbar {
    display: none;
  }

  
  .TabView .tabs .tab {
    padding: 5px 1em;
  }
  
  .TabView .tabs .active-tab {
    padding: 5px 1em;
    border-bottom: #0277bd solid 4px;
    /* color:#fff; */
  }
  