
button{
  background-color: #004c8c;
  border: none;
  padding: 10px;
  font-size: 20px;
  color:white
}
.SignIn{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-back{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
}
.modal-container{
  display: flex;
  flex-direction: column;
  /* width: 50vw; */
  /* height: 50vh; */
  padding: 20px;
  /* position: fixed; */
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  z-index: 100000;
  /* transform: translate(-50%, -50%); */
}